/* - Family: [Space Grotesk](https://fonts.google.com/specimen/Space+Grotesk)
- Weights: 500  */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --onActiveVoilet: hsl(249, 99%, 64%);
    --onActivePurple: hsl(278, 94%, 30%);
    --white: hsl(0, 0%, 100%);
    --lightGrayish: hsl(270, 3%, 87%);
    --darkGrayish: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
}

main {
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: space-between;
}
/* left side of page, e.g. cards and card info */
.leftSide {
    width: 35%;
    min-height: 100vh;
    background-image: url('./images/bg-main-desktop.png');
    background-size: cover;
    color: var(--white);
}
.cardsContainer { position: relative;}

.frontCard {
    position: absolute;
    top: 75px;
    left: 150px;
}

#sixteen {
    font-size: 1.5rem;
    letter-spacing: 6px;
    
}
img{ 
    display: block;
}
.frontCardContent { 
    position: relative;
}

.contentOnTop {
    display: flex;
}
.logoDiv {
    position: absolute;
    top: 20px;
    left: 25px;
}
.cardInfo {
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
}

.nameAndDate {
    width: 100%;
    padding: 0px 2rem;
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.backCard {
    position: absolute;
    top: 350px;
    left: 250px;
}
.cvc {
    position: absolute;
    top: 110px;
    right: 60px;
}
.hidden {
    display: none;
}
/* right side of page, e.g. form */
.rightSide {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content:center;
}

form {
    border: 1px solid black;
    height: 350px;
    width: 400px;
    padding: 1rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
input:hover {
    cursor: pointer;
}
.cardInput { 
    width: 100%;
    height: 2.5rem;
    border: 1px solid var(--lightGrayish);
    border-radius: 5px;
    outline: none;
    padding: .5rem;

}

.cardInput:active {
    border-width: 1px;
    border-style: solid; 
    border-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 10;

}

.dateAndCVC {
    display: flex;
}
.dateContainer, .cvcContainer {
    width: 50%;
}

.MMYY, #CVCInput {
    height: 2.5rem;
    border: 1px solid var(--lightGrayish);
    border-radius: 5px;
    width: 35%;
    padding: .5rem;
    margin: 5px 0px 0px;
}

#CVCInput {
    width: 100%;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } 
@media only screen and (max-width: 1200px) {
    .leftSide { width: 50%; }
    
}