* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
}

.leftSide {
    width: 35%;
    min-height: 100vh;
    background-image: url('./images/bg-main-desktop.png');
    background-size: cover;
}
.cardsContainer { position: relative;}

.frontCard {
    position: absolute;
    top: 75px;
    left: 150px;
}

.backCard {
    position: absolute;
    top: 350px;
    left: 250px;
}
.rightSide {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.thankYou {
    display: none;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } 
@media only screen and (max-width: 1200px) {
    .leftSide { width: 50%; }
    
}